
    <header>
        <div class="container">
            <h1>Velkommen til vår samfunnsfaglige undersøkelse</h1>
        </div>
    </header>

    <main>
        <section id="introduction">
            <div class="container">
                <p>
                    Dette nettstedet er utviklet som en del av vårt tverrfaglige prosjekt for å samle inn data til en samfunnsfaglig undersøkelse. 
                    Informasjonen som samles inn vil kun bli brukt til faglige formål. Undersøkelsen er <strong>anonym</strong>, 
                    med mindre annet er oppgitt. <br><br> Trykk på kanppen nedenfor eller scan QR-koden for å gå til undersøkelsen.
                </p>
                
                <!-- <a href="../survey.ejs" class="button">Gå til undersøkelsen</a> -->
            </div>
        </section>

        <section id="qr-section">
            <h2>Scan QR-koden for å delta</h2>
            <div class="qr-code">
                <img src="/img/qr-code-placeholder.png" alt="QR kode for undersøkelsen">
            </div>
        </section>
        <section>
            <a href="./survey"> Til undersøkelse </a>
            <!-- <button id="survey-btn"></button> -->
        </section>

    </main>



