<%-include("./partials/head.ejs")%>
<div class="wrapper">
<header>
    <div class="container">
     <h1>Tusen Takk</h1>
    </div>
</header>

<section>
        <p>Tusen takk for at du har deltatt i vår undersøkelse.
            Vi setter stor pris på tilliten din og villigheten til å svare på våre spørsmål</p>
        </section>
    <section>
        <a href="/">back to home</a>
    </section>
</div>
<%-include("./partials/foot.ejs")%>
