<%-include("./partials/head.ejs")%>
<h1>Tusen Takk</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
 Dolorum itaque quis veritatis voluptas in quo vero esse reprehenderit hic est!</p>
<a href="/">back to home</a>
<%-include("./partials/foot.ejs")%>