body {
    background-color: black;
}


.bodywrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

img {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Dark background */
  overflow: hidden;
}