.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

/* General Styles */
body {
    height: 100vh;
    width: inherit;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #1f1e1e;
    color: #ffffff;
}

header {
    background: #950000;
    color: rgb(255, 255, 255);
    padding: 1.5rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

p{
    width: 75%;
    margin: 0 auto;
}

main {
    padding: 2rem 1rem;
}

a{
    background: #950000;
    color: white;
    border: none;
    padding: 0.75rem;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 5px;
    width: 20rem;
}

a:hover{
    background-color: rgba(247, 82, 0, 0.906);
}

h2 {
    color: #ffffff;
    margin-bottom: 1rem;
}

section {
    margin-bottom: 2.5rem;
}

#introduction {
    text-align: left;
}

.qr-code img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

textarea,
input,


/* button {
    background: #950000;
    color: rgb(255, 252, 252), 0, 0;
    border: none;
    padding: 0.75rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 5px;
    width: 20rem;
}

button:hover {
    background: #ff8400;
} */

footer {
    background: #720000;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p {
    margin: 0;
}
